* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url("pexels-google-deepmind-18069696.jpg");
    background-position: center;
    background-size: cover;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 100px;
}

h2 {
    user-select: none;
    font-size: 25px;
    font-weight: 700;
    color: ghostwhite;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 16px;
    margin-left: 20px;
    color: ghostwhite;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    max-width: 1200px;
    text-align: center;
    color: ghostwhite;
}

.main-content h1 {
    font-size: 35px;
}

.main-content p {
    margin-top: 20px;
    font-size: 22px;
    max-width: 800px;
}

.main-content button {
    margin-top: 20px;
    outline: none;
    border: none;
    font-size: 22px;
    font-weight: 600;
    padding: 12px 28px;
    border-radius: 8px;
    cursor: pointer;
    background: darkcyan;
    color: #fff;
    transition: .4s;
}

.main-content button:hover {
    background: #fff;
    color: darkcyan;
}
